
body {

    font-family: 'Arial', sans-serif;
    line-height: 1.6; 
    color: #333;
    margin: 0;
    padding: 20px;
    background-color: #ffffff; 
}


h1 {
    color: #0056b3; 
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-top: 30px; 
}

h2 {
    color: #0056b3; 
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-top: 30px; 
}

hr {
    border: 1px solid #0056b3;
}


p {
    font-size: 25px; 
    margin-bottom: 15px;
}

ul li, ol li {
    font-size: 20px; 
    margin-bottom: 5px;
}


ul li p {
    font-size: 30px;
    font-weight: bold;
    color: #000;
}


blockquote {
    background-color: #c7c5c5;
    border-left: 5px solid #0056b3;
    padding: 15px;
    margin: 20px 0;
    font-size: 18px;
    font-style: italic;
}

blockquote img {
    max-width: 100%; 
    height: auto;
    border-radius: 8px; 
    margin-bottom: 10px;
    width: 600px; 
}


mark {
    background-color: #d19d00; 
    padding: 2px 5px;
    border-radius: 3px;
}

strong {
    font-weight: bold;
    color: #000;
}


.indent {
    margin-left: 40px; 
    display: block; 
}


a {

    transition: color 0.3s ease, transform 0.1s ease;
    display: inline-block; 
    color: #007bff; 
    text-decoration: none; 
}


a:hover {
    color: #ff0000; 
    text-decoration: underline;
    transform: translateY(-2px); 
}


a:active {

    transform: scale(0.95) translateY(2px);
    color: #ff0000; 
    text-decoration: none; 
}

.sombra-drop {
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.link-botao {
    text-decoration: none; 
    background-color: #007BFF; 
    color: white; 
    padding: 5px 20px; 
    border-radius: 15px; 
    cursor: pointer; 
    
  
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.link-botao:hover {

    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
    background-color: #0056b3; 
}